.something{
  border: 1px solid red;
  color: rgb(54, 7, 7);

}
.AssigButton{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  padding: 10px;

}
.post-item-container{
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 30%;
  border: 1px solid grey;
  border-radius: 5%;
  margin-top: 10px;
  margin-left: 5%;
  padding-left: 10px;
  box-sizing: border-box;
  /* flex-direction: column; */
  /* justify-content: space-around; */

}
.title{
  color: rgb(0, 108, 185);
  font-size: 20px;

}
.button {
  border: 0;
  background-color: black;
  color: white;
  padding: 5px;
  margin: 5px;
}

.button.active {
  background-color: orange;
  color: black;
}
.Custombutton{
  background-color: orange;
  color: blue;
}
.Custombutton2{
  background-color: rgb(132, 57, 57);
}

.app-header {
height: 14.5vh;
position: sticky;
top: 0px;
background-color: aqua;
z-index: 10;
margin-bottom: 2rem;

}
.app-header h2{
  margin-top: 0px;
  padding-top: 0px;
}

.login-page{
  display: flex;
  justify-content: center;
  align-items: center;  
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
background: linear-gradient(to right, rgb(93, 93, 207),rgb(121, 159, 218));

}

.login-form{
  width: 300px;
height: 300px;
padding: 2rem;
background: wheat;
border-radius: 5px;
text-align: center;


}

.action-container{
  padding: 0.5rem;
  border-top: 1px solid grey;
  display: flex;
  justify-content: space-around;
}

.avatar-icon-container{
display: inline-block;
}